body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    font-size: 10pt;
    border:1px solid #574e4e;
}
td {
    padding: 3px;
    height: 25px;
    background-color: bisque;

}
th{
    background-color: steelblue;
    color: rgb(255, 255, 255);
    height: 30px;

}
h3{
    font-weight: 600;
    color: steelblue;
}
.btn-delete{
    border: 1px solid #da4c4c;
    background: #da4c4c url('img/hapus1.png') no-repeat 5px 4px;
    height: 22px;
    padding-left: 15px;
    padding-top: 5px;
}
.btn-update{
    border: 1px solid #00b3a8;
    background: #00b3a8 url('img/edit1.png') no-repeat 5px 4px;
    height: 22px;
    padding-left: 15px;
    padding-top: 5px;
}